header {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.navbar-brand img {
  height: 80px;
}

.navbar-nav .nav-link {
  font-weight: 600;
  color: var(--text-dark);
}

.navbar-nav .nav-link.active {
  color: var(--primary);
}

.language-switcher a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-dark);
  margin-left: 0.5rem;
}

.language-switcher a:hover {
  color: var(--primary);
}