main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.study-card {
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 100%;
}

.study-card h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.study-card h4 {
  font-size: 1rem;
  color: var(--text-muted);
}

.study-card p {
  margin-bottom: 0.5rem;
}

.flecha-work {
  text-align: end;
  margin-top: 2rem;
}

