main {
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.study-card {
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 100%;
}

.study-card h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.study-card h4 {
  font-size: 1rem;
  color: var(--text-muted);
}

.study-card p {
  margin-bottom: 0.5rem;
}

.flecha-work {
  text-align: end;
  margin-top: 2rem;
}

.text-primary-custom {
  color: var(--primary);
}

.btn-primary-custom {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff
}

.btn-primary-custom:hover {
  background-color: #000000;
  /* un poco más oscuro al pasar el mouse */
  border-color: #000000;
  color: #fff
}

.flecha-peq {
  height: 60px;
}
.navbar .language-switcher a {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--text-dark);
}

.navbar .language-switcher a:hover {
  color: var(--primary);
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.social-icon-frame {
  border-radius: 12px; 
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.social-icon-frame:hover {
  transform: scale(1.05);
}
.about-img {
  max-width: 300px; /* Ajustar el tamaño deseado */
  width: 100%;
  height: auto;
}